<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="participantes.component.css"/>
       </head>

<h1>Registro de Proyecto</h1>
<body>

  



<!--Categorias (Combo)-->
<p>Categoría a participar:</p>
<div>
<select class="form-select" able>
  <option>Cartel</option>
  <option>Prototipo</option>
   <option>Proyecto de Inversión</option>
    <option>Proyecto de TI</option>
  </select>
</div>

  <!--Datos Representante-->
  <h2>Datos del Representante:</h2>
<p>Nombre:</p>
<input type="text" size= "40" class="form-control form-control-lg" placeholder=" Nombre completo"><br>
<p>Correo electrónico del representante:</p>
<input type="text" size= "40" class="form-control form-control-lg" placeholder=""><br>
<p>Número de control del representante:</p>
<input type="text" size= "40" class="form-control form-control-lg" placeholder=""><br>



  <!--Datos del equipo-->
<h3>Datos del Equipo:</h3>
<p class="nota">*Nota: Datos del equipo esceptuando al Representante</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Número de control</th>
      <th>Programa Educativo</th>
      <th>Grupo</th>
      <th>Carrera</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" size= "20" class="form-control form-control-lg" placeholder="Nombre completo"></td>
      <td><input type="text" size= "15" class="form-control form-control-lg" placeholder=""></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><select class="form-select" able >
        <option>Escolarizado</option>
        <option>Semiescolarizado</option>
        </select></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><select class="form-select" able>
        <option>Administración de Área Capital Humano</option>
        <option>Desarrollo de Negocios Área Mercadotécnia</option>
        <option>Contaduría</option>
        <option>Turismo</option>
        <option>Desarrollo de Software Multiplataforma</option>
        <option>Infrestructura de Redes Digitales</option>
        <option>Entornos Virtuales y Negocios Digitales</option>
        <option>Diseño Digital</option>
        <option>Mecatrónica Área Instalaciones Eléctricas Eficientes</option>
        <option>Procesos Industriales Área Manufactura</option>
        <option>Energías Renovables Área Calidad y Ahorro de Energía</option>
      </select><td>
    </tr>
    <tr>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder="Nombre completo"></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><select class="form-select" able>
        <option>Escolarizado</option>
        <option>Semiescolarizado</option>
        </select></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><select class="form-select" able>
        <option>Administración de Área Capital Humano</option>
        <option>Desarrollo de Negocios Área Mercadotécnia</option>
        <option>Contaduría</option>
        <option>Turismo</option>
        <option>Desarrollo de Software Multiplataforma</option>
        <option>Infrestructura de Redes Digitales</option>
        <option>Entornos Virtuales y Negocios Digitales</option>
        <option>Diseño Digital</option>
        <option>Mecatrónica Área Instalaciones Eléctricas Eficientes</option>
        <option>Procesos Industriales Área Manufactura</option>
        <option>Energías Renovables Área Calidad y Ahorro de Energía</option>
      </select><td>
    </tr>
    <tr>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder="Nombre completo"></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><select class="form-select" able>
        <option>Escolarizado</option>
        <option>Semiescolarizado</option>
        </select></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><select class="form-select" able >
        <option>Administración de Área Capital Humano</option>
        <option>Desarrollo de Negocios Área Mercadotécnia</option>
        <option>Contaduría</option>
        <option>Turismo</option>
        <option>Desarrollo de Software Multiplataforma</option>
        <option>Infrestructura de Redes Digitales</option>
        <option>Entornos Virtuales y Negocios Digitales</option>
        <option>Diseño Digital</option>
        <option>Mecatrónica Área Instalaciones Eléctricas Eficientes</option>
        <option>Procesos Industriales Área Manufactura</option>
        <option>Energías Renovables Área Calidad y Ahorro de Energía</option>
      </select><td>
    </tr>
    <tr>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder="Nombre completo"></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><select class="form-select" able>
        <option>Escolarizado</option>
        <option>Semiescolarizado</option>
        </select></td>
      <td><input type="text" size= "10" class="form-control form-control-lg" placeholder=""></td>
      <td><select class="form-select" able>
        <option>Administración de Área Capital Humano</option>
        <option>Desarrollo de Negocios Área Mercadotécnia</option>
        <option>Contaduría</option>
        <option>Turismo</option>
        <option>Desarrollo de Software Multiplataforma</option>
        <option>Infrestructura de Redes Digitales</option>
        <option>Entornos Virtuales y Negocios Digitales</option>
        <option>Diseño Digital</option>
        <option>Mecatrónica Área Instalaciones Eléctricas Eficientes</option>
        <option>Procesos Industriales Área Manufactura</option>
        <option>Energías Renovables Área Calidad y Ahorro de Energía</option>
      </select><td>
    </tr>
  </tbody>
</table>

<p>Campus:</p>
<div>
<select class="form-select" able>
  <option>Dolores Hidalgo</option>
  <option>Victoria</option>
</select></div><br>
 <!--Datos del Proyecto-->
 <h3>Datos del Proyecto:</h3>
<p>Tipo de proyecto:</p>
<div>
<select class="form-select" able>
  <option>Social</option>
  <option>Emprendimiento Tecnológico</option>
  <option>Desarrollo sustentable</option>
  <option>Innovación en productos y servicios</option>
  </select></div><br>
<p>Nombre del proyecto:</p>
<input type="text" size= "40" class="form-control form-control-lg" placeholder=""><br>
<p>Descripcion del proyecto:</p>
<textarea class="form-control" rows="5" id="comment" name="text"></textarea><br>
<p>Nivel de desarrollo:</p>
<div>
<select class="form-select" able>
  <option>Idea</option>
  <option>Desarrollo</option>
  <option>Venta y comercializacion</option>
  </select></div><br>
<p>Nombre del asesor:</p>
<input type="text" size= "40" class="form-control form-control-lg" placeholder=" Nombre completo"><br>
<p>Resumen ejecutivo:</p>
<textarea class="form-control" rows="5" id="comment" name="text"></textarea><br>
<p>Videos:</p>
<input type="text" size= "40" class="form-control form-control-lg" placeholder=" link del video"><br>
<p>Evidencias:</p>
<input type="text" size= "40" class="form-control form-control-lg" placeholder=" link de los archivos"><br>
<p>Estatus</p>
<input type="text" size= "40" class="form-control" placeholder="" readonly >

<br>
<br>
<br>
<br>
<br>

<input type="submit" value= " Cancelar " class="button1">

<input type="submit" value=" Guardar " class="button">

<input type="submit" value=" Enviar " class="button2">

</body>



</html>
